.about-section {
  width: min(100% - 4rem, 1100px);
  margin: 0 auto;
  padding: 8rem 0 5rem;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.about-left {
  flex: 0 0 340px;
}

.about-title {
  font-family: "bricolage", sans-serif;
  font-size: h1;
  color: #132fb4;
  margin-bottom: 0.5rem;
  margin-top: -1.5rem;
}

.about-image {
  width: 25%;
  border-radius: 8px;
  display: block;
}

.about-right {
  flex: 1;
}

.about-right p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #252525;
}


.smiley {
  position: relative;
  margin-left: 80%;
  transform: translateX(-50%);
  width: 90px;
  display: block;
  margin-top: 8rem;
}