.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #f7f4ef;
  padding-top: 80px;
}

.hero-content {
  position: relative;
  z-index: 2;

  width: min(100% - 8rem, 1000px);
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content h1 {
  font-family: "Genty", cursive;
  color: #132fb4;
  margin: 0;
  margin-bottom: -1rem;
  margin-left: -3rem;
}
.hero-text {
  text-align: center;
  margin-left: -5rem;
}

.hero-intro {
  font-size: 2rem;
  font-weight: 600;
  color: #132fb4;
  margin: 0 auto;
  margin-left: -2.5rem;
}

.hero-description {
  max-width: 520px;
  margin: 1rem auto 0;
  font-size: 1.15rem;
  line-height: 1.8;
  color: #252525;
  font-weight: 400;
  text-align: left;
}

.search-box {
  display: inline-flex;
  align-items: center;

  width: fit-content;

  margin-top: 2rem;
  padding: 1rem 2rem;

  border: 2px solid #1d4ed8;
  border-radius: 999px;

  text-decoration: none;
  color: #111827;
  font-weight: 600;
}

.hero-portrait {
  position: absolute;
  right: 0;
  bottom: 0;

  height: 95vh;
  width: auto;

  z-index: 1;
  pointer-events: none;
}

.site-header {
  position: relative;
  z-index: 10;
}
