.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #f7f4ef;
  padding-top: 80px;
}

.hero-content {
  position: relative;
  z-index: 2;

  width: min(100% - 8rem, 1000px);
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content h1 {
  font-family: "Genty", cursive;
  color: #132fb4;
  margin: 0;
  margin-bottom: -1rem;
  margin-left: -3rem;
}
.hero-text {
  text-align: center;
  margin-left: -5rem;
}

.hero-intro {
  font-size: 2rem;
  color: #132fb4;
  margin: 0 auto;
  margin-left: -2.5rem;
  font-family: "Bricolage", sans-serif;
}

.hero-description {
  max-width: 520px;
  margin: 1rem auto 0;
  font-size: 1.15rem;
  line-height: 1.8;
  color: #252525;
  font-weight: 400;
  text-align: left;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  width: fit-content;
  margin: 2rem auto 0;
  margin-left: 9.5rem;
  padding: 1rem 2.5rem;

  background: #f3f3f3;
  border: 2px solid #d9d9d9;
  border-radius: 999px;

  color: #252525;
  text-decoration: none;
  font-weight: 400;
  font-family: "Space Mono", monospace;

  box-shadow: 0 5px 19px rgba(31, 35, 228, 0.09);

  transition: all 0.25s ease;
}

.search-box img {
  width: 18px;
  height: 18px;
}

.search-box:hover {
  transform: translateY(-2px);

  box-shadow: 0 8px 24px rgba(31, 35, 228, 0.15);
}

.hero-portrait {
  position: absolute;
  right: 0;
  bottom: 0;

  height: 95vh;
  width: auto;

  z-index: 1;
  pointer-events: none;
}

.site-header {
  position: relative;
  z-index: 10;
}

.icon {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.star {
  top: 100px;
  right: 300px;
  width: 90px;
}

.flower {
  top: 120px;
  right: 20px;
  width: 70px;
}

.globe {
  top: 400px;
  right: 500px;
  width: 65px;
}

.smiley {
  bottom: 130px;
  left: 120px;
  width: 60px;
}


@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
    transform: scale(1) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: scale(1.15) rotate(8deg);
  }
}
.star {
  animation: twinkle 6s ease-in-out 2s infinite;
}

@keyframes float {
  0%,100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.flower {
  animation: float 5s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.globe {
  animation: rotate 20s linear infinite;
}